Django==4.0.3
Pillow==9.0.1
mistune==2.0.2
Pygments==2.11.2
django-debug-toolbar==3.2.4
django-extensions==3.1.5
fontawesomefree==6.0.0
djangorestframework==3.13.1

# development dependencies
ipython==8.1.1
black==22.1.0
flake8==4.0.1
Faker==13.3.0
