{% extends 'base.html' %}

{% block content %}
<h4>About Us</h4>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam omnis consequuntur ipsam saepe asperiores tempore amet? Fugiat adipisci similique, iure debitis commodi rerum nostrum voluptatem totam cumque doloremque itaque veritatis.</p>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde ut qui itaque ipsum quam iste voluptatibus, amet perferendis, quisquam accusamus similique cum quis dolorem. Saepe beatae molestiae eaque perferendis vitae?</p>
{% endblock content %}