{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% translate "Latest Offers" %}</h1>
    <div>
        <button id="btn-getoffers">{% translate "Retrieve Offers" %}</button>
        <br>
        <div id="latest-offers"></div>
    </div>
    {% if request.session.user_agreed %}
        <h3>Thank you for agreeing to our privacy policy!</h3>
    {% endif %}
    <p>
        <a href="{% url 'pages:big_prize' %}">Click here to win prize!</a>
    </p>
    <p>You have visited this page {{ request.session.visits }} time{{ request.session.visits|pluralize }}</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil natus tempore fuga eaque impedit rem voluptatibus excepturi corrupti quos, debitis maiores beatae optio possimus cum quae quaerat dolorum quo officiis.</p>
    <hr>
    <p>Only super users can enter here: <a href="{% url 'pages:secret' %}">THE SECRET PAGE</a></p>
{% endblock content %}

{% block scripts %}
<script>
const url = "{% url 'apiv1:product_list' %}";
const btn = document.querySelector("#btn-getoffers");
const latestOffersEl = document.querySelector("#latest-offers");

btn.addEventListener("click", function (e) {
    fetch(url)
    .then(resp => resp.json())
    .then(data => {
        const elems = [
            '<table>',
            '<thead><tr><th>ID</th><th>Name</th><th>Price</th></tr></thead>',
            '<tbody>'
        ];

        data.offers.forEach(p => {
            elems.push(`<tr><td>${p.id}</td><td>${p.name}</td><td>${p.price}</td></tr>`)
        });
        elems.push('</tbody>');
        elems.push('</table>');
        latestOffersEl.innerHTML = elems.join("");
    });
}, false);



</script>
{% endblock scripts %}