{% extends 'base.html' %}

{% block content %}
<h1>Privacy Policy</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio architecto amet harum accusantium repellat nihil nulla voluptatem eveniet qui? Quia, numquam itaque! At fugiat laboriosam reprehenderit expedita saepe? Sed, tempore.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sunt laudantium tempora qui non cumque architecto cupiditate perspiciatis impedit ex excepturi, maiores nam autem dolorem fugiat tenetur hic in libero numquam?</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eligendi, vitae quaerat recusandae quidem amet provident nemo. Repellat, quae, eaque placeat quas magnam error iure repudiandae non velit, harum assumenda.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis ea iure nisi sed magnam eum voluptates explicabo dolor expedita exercitationem? Ullam consectetur, ea placeat a beatae dolorem quasi quas aperiam.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis vero aliquam porro quos, optio quas tempore dolorum magnam omnis adipisci fugiat ullam, quia, esse illo. Voluptatibus fuga commodi nostrum magni.</p>
{% endblock content %}