{% extends 'base.html' %}

{% block content %}
<div class="product-details-header">
    <h1>{{ product.name }}</h1>
    <a href="{% url 'product_list' %}">Back to Products</a>
</div>
<img src="{{ product.picture.url }}"
            alt="{{ product.name }}"
            width="256"
            height="256">
<p class="">Kodi: {{ product.code }}</p>
<p class="">${{ product.price }}</p>
<p class="">{{ product.description }}</p>
<p>Added by <a href="{% url 'user_products' username=product.user.username %}">{{ product.user.get_full_name }}</a></p>
<hr>
<h2>Reviews</h2>
<form action="" method="post" novalidate>
    {% csrf_token %}
    {% for field in form %}
    <div>
        {{ field.label_tag }}
        {{ field }}
        {% if field.errors %}
            {% for error in field.errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
    {% endfor %}
    <button type="submit">Send review</button>
</form>
{% for review in reviews %}
<div>
    <p>Rated {{ review.rating }} / 5 on {{ review.created_at }}</p>
    <p>{{ review.comment }}</p>
</div>
{% empty %}
<p>No reviews yet for this product!</p>
{% endfor %}

{% endblock content %}