{% extends 'base.html' %}

{% block content %}
<div>
    <h1>Product Catalogue</h1>
    <a href="{% url 'products:product_add' %}">Add new Product</a>
</div>
<ul>
    {% for cat in categories %}
        <li><a href="">{{ cat.name }}</a></li>
    {% endfor %}
</ul>

{% for page in page_obj.paginator.page_range %}
<a href="{% url 'products:product_list' %}?page={{ page }}">{{ page }}</a>
{% endfor %}

<section class="product-list">
{% for product in page_obj %}
    <div class="product-item">
        <img src="{{ product.picture.url }}"
            alt="{{ product.name }}"
            width="256"
            height="256">
        <a href="{% url 'products:product_details' pk=product.pk %}">{{ product.name }}</a>
        <p class="product-item-code">Kodi: {{ product.code }}</p>
        <p class="product-item-price">${{ product.price }}</p>
    </div>
{% endfor %}
</section>
{% endblock content %}